<component name="ArtifactManager">
  <artifact type="war" name="springboot-day1:war">
    <output-path>$PROJECT_DIR$/springboot-day1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springboot-day1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springboot-day1.war">
      <element id="artifact" artifact-name="springboot-day1:war exploded" />
    </root>
  </artifact>
</component>